* {
    box-sizing: border-box;
  }
.col {
  border: 6px solid whitesmoke; 
    box-shadow: 2px 1px 0 grey;
    border-radius: 10px;
    background-color: #F8DFD3;
    
}
.blue-font {
  color: royalblue;
}
.red-font {
  color: crimson;
}

.spy-blue {
  border: 6px solid royalblue;
}
.spy-red {  
  border: 6px solid crimson;
}
.spy-assassin {
  border: 6px solid black;
}

